/*______________________________________________________________320-834______________________________________________________________*/
@media screen and (min-width: 320px) and (max-width: 834px) {
  .container {
    display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(47, 20vw);
      gap: 0px 0px;
      grid-template-areas:
      "first_screen"
      "first_screen"
      "flowers"
      "flowers"
      "flowers"
      "flowers"
      "phone"
      "phone"
      "phone"
      "phone"
      "beauty"
      "beauty"
      "beauty"
      "beauty"
      "car"
      "car"
      "car"
      "car"
      "jewelry"
      "jewelry"
      "jewelry"
      "jewelry"
      "bear"
      "bear"
      "bear"
      "bear"
      "bag"
      "bag"
      "bag"
      "bag"
      "shoes"
      "shoes"
      "shoes"
      "shoes"
      "glasses"
      "glasses"
      "glasses"
      "glasses"
      "dress"
      "dress"
      "dress"
      "dress"
      "last_screen"
      "last_screen"
      "last_screen"
      "last_screen"
      "footer"
    }
    .first_screen p {
      margin-top: 7vw;
    }
    .bag1 {
      margin-top: 11vw;
      margin-left: 26vw;
      height: 30%;
      width: 40%;
      background: url('images/bag1.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .bag2 {
      margin-top: -6vw;
      margin-left: 29vw;
      height: 30%;
      width: 35%;
      background: url('images/bag2.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .bag3 {
      margin-top: -12.2vw;
      margin-left: 26vw;
      height: 40%;
      width: 40%;
      background: url('images/bag3.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .pink {
      margin-top: 33vw;
      margin-left: 2vw;
    }
    .orange {
      margin-top: 11vw;
      margin-left: -30vw;
    }
    .pink2 {
      margin-left: -15vw;
      margin-top: 24vw;
    }
    .pinkl {
      margin-top: 33vw;
      margin-left: 2vw;
    }
    .orangel {
      margin-top: 11vw;
      margin-left: -30vw;
    }
    .pink2l {
      margin-left: -15vw;
      margin-top: 24vw;
    }
